/* CSS Général */
@font-face {
    font-family: "Roboto-Regular";
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: "Montserrat-Regular";
    src: url(../fonts/Montserrat-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    position: relative;
    font-family: "Roboto-Regular";
    font-size: 16px;
}
/* Header */
header div {
    background: #1B2430;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#bg {
    width: 100%;
}
header nav img {
    width: 55px;
    height: 50px;
}
header ul {
    list-style: none;
    display: flex;
}
header a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 40px 16px;
}
/* Main */
main div {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.left, .right {
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-top: 64px;
}
.left img, .right img {
    width: 300px;
    height: 300px;
}
.left h2, .right h2 {
    margin-left: 0;
    font-weight: 700;
    size: 36px;
    line-height: 41px;
    letter-spacing: 3px;
}
.left p, .right p {
    font-weight: 400;
    font-size: 1.25rem;
    text-align: justify;
    line-height: 30px;
}
.left {
    flex-direction: row;
}
.right {
    flex-direction: row-reverse;
}
.left > div {
    margin-left: 127px;
}
.right > div {
    margin-right: 127px;
}
.buttons {
    display: flex;
    flex-direction: row;
    margin-top: 22px;
    margin-bottom: 18px;
    font-weight: 500;
    font-size: 1.125rem;
}
.buttons, h2 {
    margin-left: 0;
}
.typeT, .discover, .typeG {
    padding: 12px 16px;
    border-radius: 10px;
}
.typeT {
    background-color: #D6D5A8;
    color: #1B2430;
    margin-right: 30px;
}
.typeG {
    background: linear-gradient(#816797, #51557E);
    color: #ffffff;
    margin-right: 30px;
}
.discover {
    background-color: #1B2430;
    color: #ffffff;
}
h3:first-of-type {
    position: relative;
    margin-top: 97px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    font-size: 1.875rem;
    text-align: justify;
    line-height: 35px;
}
h3:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -417px;
    height: 1px;
    width: 392px;
    background-color: #1B2430;
}
h3:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 379px;
    height: 1px;
    width: 421px;
    background-color: #1B2430;
}
#lastParagraphe {
    margin-bottom: 210px;
}
/* Footer */

footer {
    display: flex;
    flex-direction: column;
    background-color: #1B2430;
}
#fullFooter {
    width: 70%;
    margin: 0 auto;
}
footer ul {
    list-style: none;
}
#fleft {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#fleft div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#fleft div h4 {
    color: #ffffff;
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 40px;
    letter-spacing: 4px;
    text-align: center;
    margin-top: 46px;
    margin-bottom: 27px;
    width: 320px;
}
#fleft li a {
    display: block;
    color: #9F9F9F;
    text-decoration: none;
    font-family: "Montserrat-Regular";
    font-weight: 500;
    font-size: 1.063rem;
    line-height: 23px;
    text-align: center;
    padding: 9px 0;
}
.vLine {
    content: "";
    width: 1px;
    height: 210px;
    background-color: #C4C4C4;
    margin-top: 55px;
}
.bFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hLine {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #d2d2d2;
    margin-top: 47px;
}
.bFooter p {
    color: #ffffff;
    font-family: "Montserrat-Regular";
    font-weight: 500;
    font-size: 1.063rem;
    line-height: 17px;
    line-height: 23px;
    text-align: center;
    margin: 11px auto;
}

/* Responsive */
@media screen and (max-width: 1584px) {
    .left, .right {
        flex-direction: column;
        width: 90%;
    }
    .left > div, .right > div {
        margin: 10px auto;
    }
    .left p, .right p {
        font-size: 1rem;
    }
    h3:before {
        content: "";
        position: absolute;
        top: 50%;
        left: -209px;
        height: 1px;
        width: 196px;
        background-color: #1B2430;
    }
    h3:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 362px;
        height: 1px;
        width: 196px;
        background-color: #1B2430;
}
}
@media screen and (max-width: 940px) {
    .vLine {
        display: none;
    }
    h3:before, h3:after {
        display: none;
    }  
}
/* Hamburger Menu */
.top-nav {
    display: none;
}

@media screen and (max-width: 740px) {
header nav {
    display: none;
}
    .top-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: transparent;
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: #FFF;
        height: 50px;
        padding: 1em;
      }
      
      .menu {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      
      .menu > li {
        overflow: hidden;
      }
      
      .menu-button-container {
        display: none;
        height: 100%;
        width: 30px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      #menu-toggle {
        display: none;
      }
      
      .menu-button,
      .menu-button::before,
      .menu-button::after {
        display: block;
        background-color: #fff;
        position: absolute;
        height: 4px;
        width: 30px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px;
      }
      
      .menu-button::before {
        content: '';
        margin-top: -8px;
      }
      
      .menu-button::after {
        content: '';
        margin-top: 8px;
      }
      
      #menu-toggle:checked + .menu-button-container .menu-button::before {
        margin-top: 0px;
        transform: rotate(405deg);
      }
      
      #menu-toggle:checked + .menu-button-container .menu-button {
        background: rgba(255, 255, 255, 0);
      }
      
      #menu-toggle:checked + .menu-button-container .menu-button::after {
        margin-top: 0px;
        transform: rotate(-405deg);
      }
      
        .menu-button-container {
          display: flex;
        }
        .menu {
          position: absolute;
          top: 0;
          margin-top: 82px;
          left: 0;
          flex-direction: column;
          width: 100%;
          justify-content: center;
          align-items: center;
        }
        #menu-toggle ~ .menu li {
          height: 0;
          margin: 0;
          padding: 0;
          border: 0;
          transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        #menu-toggle:checked ~ .menu li {
          border: 1px solid #333;
          height: 2.5em;
          padding: 0;
          transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        .menu > li {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0;
          color: white;
          background-color: #222;
          width: 100%;
        }
        .menu > li a {
            padding: 100%;
        }
        .menu > li:not(:last-child) {
          border-bottom: 1px solid #444;
        }

    
}
@media screen and (max-width: 540px) {
    .left, .right {
        width: 90%;
    }
    .left img, .right img {
        width: 150px;
        height: 150px;
    } 
}
